* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: poplight;
    src: url('./fonts/Poppins-Light.ttf');
}

@font-face {
    font-family: popmed;
    src: url('./fonts/Poppins-Medium.ttf');
}

@font-face {
    font-family: popreg;
    src: url('./fonts/Poppins-Regular.ttf');
}

body {
    font-family: poplight;
    font-size: 18px;
}

nav {
    height: 10vh;
    display: grid;
    grid-template-columns: 10% 1fr 1fr 10%;
    font-size: 18px;
    color: white;
}

nav .logo {
    grid-column: 1/2;
    align-self: center;
    justify-self: center;
}

nav .hamburger {
    grid-column: 4/5;
    align-self: center;
    justify-self: center;
}

.banner {
    width: 100%;
    height: 100vh;
    background-image: url('./img/img.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-color: rgba(0,0,0,0.15);
    background-blend-mode: multiply;
}

.banner section {
    height: 90vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: left;
    width: 55%;
}

.headline {
    background-color: white;
    font-size: 48px;
    padding: 3px;
    padding-left:5px;
    padding-right: 10px;
}

.headline h1 {
    text-align: center;
}

.lead {
    text-align: center;
    padding-top: 20px;
    color: white;
    font-size: 26px;
    font-weight: normal !important;
    background-color: rgba(0,0,0,0.3);
    background-blend-mode: multiply;
    padding-bottom: 20px;
}


.about {
    width: 90% ;
    margin: auto;
    display: grid;
    grid-template-columns: 50% 50%;
    padding-top: 100px;
    padding-bottom: 100px;
}

.about h1 {
    font-size: 36px;
}

.about p {
    padding-top: 5px;
}

.profile {
    width: 500px;
    height: 500px;
    align-self: center;
    justify-self: left;
    padding-left: 80px;
}

.profile img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.skills-section {
    background-image: url('./img/skills.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-color: rgba(0,0,0,0.5);
    background-blend-mode: multiply;
}

.skills {
    padding-top: 100px;
    padding-bottom: 100px;
}

.skills-text {
    width: 90%;
    margin: auto;
    background: white;
    padding: 30px;
}

.skills-text h1 {
    font-size: 36px;
}

.skills-text ul {
    list-style-type: none;
    
}

.skills-text li {
    padding: 5px;
}

.interest-table {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 10px;
    gap: 10px;
}

.interest-table ul {
    list-style-type: disc;
    list-style-position: inside;
}

.skills-table {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 10px;
    gap: 10px;
}

.skills-table h3 {
    font-size: 24px;
}

.icon {
    padding: 2px;
}

.projects {
    width: 90%;
    margin: auto;
    padding-top: 100px;
    padding-bottom: 100px;
}

.projects h1 {
    font-size: 36px;
}

.projects-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 5px;
    gap: 30px;
}

.project {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.project:hover {
    box-shadow: 0 16px 32px 0 rgba(0,0,0,0.2);
    transform: scale(1.1);
}

.project-container {
    padding: 20px;
}
